DocumentProcessing/SpreadProcessing/RegisterAndExportPdfFonts/Service References/PdfFontsServiceReference/PdfFontsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RegisterAndExportPdfFonts.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RegisterAndExportPdfFonts.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PdfFontsService.FontData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FontFamilyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsBold" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsItalic" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PdfFontsService.FontData" nillable="true" type="tns:PdfFontsService.FontData" />
</xs:schema>