GridView/CopyPasteFunctionality/SampleData/ProductsSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ProductsSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ProductsSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dataroot" type="tns:dataroot" />
  <xs:complexType name="dataroot">
    <xs:sequence>
      <xs:element name="ProductsCollection" type="tns:ProductsCollection" />
    </xs:sequence>
    <xs:attribute name="generated" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ProductsCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Products" type="tns:Products" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Products">
    <xs:attribute name="ProductID" type="xs:double" />
    <xs:attribute name="ProductName" type="xs:string" />
    <xs:attribute name="SupplierID" type="xs:double" />
    <xs:attribute name="CategoryID" type="xs:double" />
    <xs:attribute name="QuantityPerUnit" type="xs:string" />
    <xs:attribute name="UnitPrice" type="xs:double" />
    <xs:attribute name="UnitsInStock" type="xs:double" />
    <xs:attribute name="UnitsOnOrder" type="xs:double" />
    <xs:attribute name="ReorderLevel" type="xs:double" />
    <xs:attribute name="Discontinued" type="xs:double" />
  </xs:complexType>
</xs:schema>