SpellChecker/RadSpellCheckerUsingDataBase/Service References/DataServiceReference/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:1879/DataService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:1879/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1879/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RadSpellCheckerUsingDataBase.Web" />
      <xsd:import schemaLocation="http://localhost:1879/DataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DataService_GetAllWords_InputMessage">
    <wsdl:part name="parameters" element="GetAllWords" />
  </wsdl:message>
  <wsdl:message name="DataService_GetAllWords_OutputMessage">
    <wsdl:part name="parameters" element="GetAllWordsResponse" />
  </wsdl:message>
  <wsdl:message name="DataService_UpdateWords_InputMessage">
    <wsdl:part name="parameters" element="UpdateWords" />
  </wsdl:message>
  <wsdl:message name="DataService_UpdateWords_OutputMessage">
    <wsdl:part name="parameters" element="UpdateWordsResponse" />
  </wsdl:message>
  <wsdl:portType name="DataService">
    <wsdl:operation name="GetAllWords">
      <wsdl:input wsaw:Action="urn:DataService/GetAllWords" message="DataService_GetAllWords_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataService/GetAllWordsResponse" message="DataService_GetAllWords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWords">
      <wsdl:input wsaw:Action="urn:DataService/UpdateWords" message="DataService_UpdateWords_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataService/UpdateWordsResponse" message="DataService_UpdateWords_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>